<!-- Seção Certificações -->
<section id="certificacoes" class="section">
    <h2 class="section-title">Certificações e Cursos/Formação Complementar</h2>
    <div class="grid certifications-grid">
        <div class="card">
            <h3>Third International Summer School on Robotics Mission Engineering (RoME 2025)</h3>
            <p>GESAD | 2025</p>
        </div>
        <div class="card">
            <h3>ICT Huawei Cloud Track</h3>
            <p>Huawei | 2023-2024</p>
        </div>
        <div class="card">
            <h3>Extensão universitária em APRENDIZADO DE MÁQUINA: UMA ABORDAGEM INTRODUTÓRIA POR EXEMPLOS E
                PRÁTICA</h3>
            <p>UECE - Universidade Estadual do Ceará | 2023</p>
        </div>
        <div class="card">
            <h3>Introdução ao Git e ao Github</h3>
            <p>DIO | 2023</p>
        </div>
        <div class="card">
            <h3>Visão Analítica de Dados</h3>
            <p>LEAD DELL | 2023</p>
        </div>
        <div class="card">
            <h3>Acessibilidade na Prática - Recursos de Acessibilidade em Softwares Apps</h3>
            <p>LEAD DELL | 2023</p>
        </div>
        <div class="card">
            <h3>Fundamentos de Desenvolvimento de Aplicações com Visual C#</h3>
            <p>LEAD DELL | 2023</p>
        </div>
        <div class="card">
            <h3>Fundamentos de Programação Orientada a Objetos com Java</h3>
            <p>LEAD DELL | 2023</p>
        </div>
        <div class="card">
            <h3>Redes 5G</h3>
            <p>UECE - Universidade Estadual do Ceará | 2023</p>
        </div>
        <div class="card">
            <h3>Introdução à Programação e Pensamento Computacional</h3>
            <p>DIO | 2023</p>
        </div>
        <div class="card">
            <h3>Inglês Básico 2 com ênfase em Tecnologia da Informação</h3>
            <p>LEAD DELL | 2023</p>
        </div>
        <div class="card">
            <h3>Trabalhando em Equipes Ágeis</h3>
            <p>DIO | 2023</p>
        </div>
        <div class="card">
            <h3>Machine Learning</h3>
            <p>LEAD DELL | 2022-2023</p>
        </div>
        <div class="card">
            <h3>Inglês Intermediário 1</h3>
            <p>LEAD DELL | 2022</p>
        </div>
        <div class="card">
            <h3>Introdução à Lógica de Programação em Python</h3>
            <p>LEAD DELL | 2022</p>
        </div>
        <div class="card">
            <h3>Extensão universitária em Segurança da Informação</h3>
            <p>UECE - Universidade Estadual do Ceará | 2021</p>
        </div>
        <div class="card">
            <h3>Extensão universitária em Web Scraping</h3>
            <p>UECE - Universidade Estadual do Ceará | 2021</p>
        </div>
        <div class="card">
            <h3>Extensão universitária em SUBJETIVIDADE INSTANTÂNEA E ARQUEOLOGIA DO EU: O ESPAÇO - TEMPO NAS
                REDES</h3>
            <p>UECE - Universidade Estadual do Ceará | 2021</p>
        </div>
        <div class="card">
            <h3>Extensão universitária em Como Enviar e Armazenar Arquivos Sensíveis de Forma Segura</h3>
            <p>UECE - Universidade Estadual do Ceará | 2021</p>
        </div>
        <div class="card">
            <h3>Extensão universitária em O Novo Top 10 da OSWASP: Principais Vulnerabilidades Web da Atualidade
            </h3>
            <p>UECE - Universidade Estadual do Ceará | 2021</p>
        </div>
        <div class="card">
            <h3>Extensão universitária em APRENDIZADO DE MÁQUINA</h3>
            <p>UECE - Universidade Estadual do Ceará | 2021</p>
        </div>
        <div class="card">
            <h3>Hacker Ético Profissional com Kali Linux</h3>
            <p>Udemy | 2021</p>
        </div>
        <div class="card">
            <h3>Como aprender programação</h3>
            <p>Neps Academy | 2021</p>
        </div>
        <div class="card">
            <h3>Python Basics</h3>
            <p>Let's Code | 2021</p>
        </div>
        <div class="card">
            <h3>Curso Despertar</h3>
            <p>SEBRAE | 2018</p>
        </div>
    </div>
</section>