<header class="header">
    <div class="header-content">
        <img src="images/profile/90991139.jpeg" alt="Foto de perfil de Pedro Ulisses" class="profile-img">
        <h1 class="title">Pedro Ulisses Pereira Castro Maia</h1>
        <p class="subtitle">Desenvolvedor Full Stack</p>
    </div>

    <nav class="nav">
        <ul class="nav-list">
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#projetos">Projetos</a></li>
            <li><a href="#conhecimentos">Habilidades</a></li>
            <li><a href="#certificacoes">Certificações</a></li>
            <li><a href="#experiencia">Experiência</a></li>
            <li><a href="#premios">Prêmios</a></li>
            <li><a href="#blog">Blog</a></li>
        </ul>
    </nav>
</header>
