<section id="premios" class="section">
    <h2 class="section-title">Prêmios e Reconhecimentos</h2>
    <div class="grid premios-grid">
        <div class="card premio-card no-image">
            <div class="premio-content">
                <h3>Medalha de bronze</h3>
                <p>2018 | Feira do Conhecimento</p>
                <p>Competição de robótica - carrinho seguidor de linha e desviar de obstáculos</p>
            </div>
            <div class="premio-content">
                <h3>Honra ao mérito</h3>
                <p>2021 | Maratona SBC de programação</p>
                <p>Competição de programação</p>
            </div>
            <div class="premio-content">
                <h3>Medalha de bronze</h3>
                <p>2020 | Canguru de Matemática</p>
                <p>Concurso de matemática</p>
            </div>
            <div class="premio-content">
                <h3>Medalha de ouro</h3>
                <p>2019 | Feira do Conhecimento</p>
                <p>Competição de robótica - carrinho seguidor de linha e desviar de obstáculos</p>
            </div>
            <div class="premio-content">
                <h3>ICT Huawei Cloud Track</h3>
                <p>2023-2024 | Huawei</p>
                <p>Classificação no ICT Competition da Huawei na Track de Cloud para fase Nacional</p>
            </div>
            <div class="premio-content">
                <h3>ICT Huawei Cloud Track</h3>
                <p>2023-2024 | Huawei</p>
                <p>Classificação no ICT Competition da Huawei na Track de Cloud para fase LATAM</p>
            </div>
        </div>
    </div>
</section>